// Sass Variables

// color
$primary-color: #50B8E7;
$secondary-color: #84CDEE;
$third-color: #B9E2F5;
$fourth-color: #DCF0FA;
$fifth-color: #EDF7FC;

// fonts
$font-LineBd: "LINESeedKR-Bd";
$font-LineRg: "LINESeedKR-Rg";
$font-LineTh: "LINESeedKR-Th";

$font-esaBd: "esamanru-Bold";
$font-esaMd: "esamanru-Medium";
$font-esaLi: "esamanru-Light";

