@import '../../styles/variables';

.project-container {
  width: 100vw;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: #{$font-LineBd};
    font-size: 2.5vw;
    padding-bottom: 2rem;
  }
}

.project-item {
  width: 80vw;
  padding: 3rem;
  background-color: $fourth-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;

  h1 {
    font-family: #{$font-LineBd};
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-family: #{$font-LineBd};
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  p {
    font-family: #{$font-LineRg};
    padding-bottom: 1rem;
  }

  &+& {
    margin-top: 2rem;
  }
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-container {
  width: 46%;
  aspect-ratio: 4/3;
  background-color: blue;
  position: relative;
  
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-self: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  position: absolute;
  left: 0px;
}

.project-png {
  background-color: red;
  width: 100%;

  img {
    object-fit: fill;
  }
}

.project-description {
  width: 48%;
  padding: 1rem;
  background-color: blue;
}