@import '../../styles/variables';

.skill-container {
  width: 100vw;
  background-color: $third-color;
  padding: 3rem 0;

  display: flex;
  justify-content: center;

  & h2 {
    font-family: #{$font-LineBd};
    font-size: 2.5vw;
    padding-bottom: 2rem;
  }
}

.skill-box {
  
}