@import '../../styles/variables';

.skill-container {
  width: 100vw;
  background-color: $third-color;
  padding: 4.5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font-family: #{$font-LineBd};
    font-size: 2.5vw;
    padding-bottom: 2rem;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-family: #{$font-LineBd};
    font-size: 1.5vw;
    padding-top: 2vh;
  }
}

.skill-box {
  margin-top: 1rem;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &+& {
    margin-bottom: 1rem;
  }
}

.skill {
  height: 95px;
  width: 95px;


  img {
    height: 95px;
    width: 95px;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(84, 84, 84, 0.2);
  }

  margin: 12px;
}